
  .box {
    width: 200px;
    height: 150px;
    margin: 20px auto;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
    border-radius: 10px;
  }
  
  .box.green {
    background-color: green;
  }
  
  .box.red {
    background-color: red;
  }
  
  .instructions {
    font-size: 20px;
    text-align: left;
  }
  .heading {
    font-style: italic;
  }
  .mode {
    background-color: rgb(240, 240, 14);
    color: black;
    font-weight: 800;
    border-radius: 5px;
    width: 100px;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
  }
  .mode:hover {
    background-color: yellowgreen;
    font-size: small;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .homebutton {
    background-color: #007bff;
    padding: 20px;
    border-radius: 10px;
    width: 100px;
  }
  .gameover {
    color:  red;
    font-weight: 900;
    font-size: xx-large;
  }
  
 
  .game-over-message {
    font-size: 24px;
    color: red;
    font-weight: bold;
  }
  .time-left {
    animation: blip 1s ease infinite;
    background-color: #ffcc00; 
    display: inline-block;
    padding: 5px 10px; 
    border-radius: 5px; 
  }
  .score-container {
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  .score {
    font-size: 24px; 
    font-weight: bold; 
    color: #5da9fa; 
    background-color: #090a0a; 
    padding: 10px; 
    border-radius: 5px; 
    text-align: center;
  }
  .win-text {
    font-size: 36px;
    font-weight: bold;
    color: #0b7b25; 
    text-align: center; 
    margin-top: 20px; 
  }
  .startagainbutton {
    background-color: #007bff;
    padding: 20px;
    border-radius: 10px;
    width: 150px;
    margin-bottom: 10px;
  }
  
  
  @keyframes blip {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  



  @media (max-width: 768px) {
    .heading {
      font-style: italic;
      font-size: 20px;
    }
  }
